* {
	margin     : 0;
	padding    : 0;
	box-sizing : border-box;
}

html, body {
	font-size : 10px;
}

a {
	text-decoration : none;
}

button {
	outline : none;
	border  : none;
}

$black      : #19191a;
$greyDarker : #222;
$greyDark   : #282828;
$grey       : #333;
$greyLight  : #888;
$whiteDark  : #ddd;
$blueDarker : #092756;
$blueDark   : #0069d9;
$blue       : #0184ff;
$greenDark  : #218838;
$green      : #28a745;
$redDark    : #c82333;
$red        : #dc3545;