@import 'common';

#home {
	$background-radial-gradient  : 0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%;
	$background-linear-gradient  : top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%;
	$background-linear-gradient2 : -45deg, #670d10 0%, #092756 100%;
	position                     : relative;
	width                        : 100vw;
	height                       : 100vh;
	background                   : $blueDarker;
	background                   : -moz-radial-gradient($background-radial-gradient),
	-moz-linear-gradient($background-linear-gradient),
	-moz-linear-gradient($background-linear-gradient2);
	background                   : -webkit-radial-gradient($background-radial-gradient),
	-webkit-linear-gradient($background-linear-gradient),
	-webkit-linear-gradient($background-linear-gradient2);
	background                   : -o-radial-gradient($background-radial-gradient),
	-o-linear-gradient($background-linear-gradient),
	-o-linear-gradient($background-linear-gradient2);
	background                   : -ms-radial-gradient($background-radial-gradient),
	-ms-linear-gradient($background-linear-gradient),
	-ms-linear-gradient($background-linear-gradient2);
	background                   : -webkit-radial-gradient($background-radial-gradient),
	linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%),
	linear-gradient(135deg, #670d10 0%, #092756 100%);
	filter                       : progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);

	#card-images-wrapper {
		display         : flex;
		justify-content : center;
		padding-top     : 10%;
		height          : 100%;
		width           : 100%;

		// Override some styles of card rotate template
		#rotary-template {
			position        : relative;
			display         : flex;
			justify-content : center;
			align-items     : center;
			width           : 40%;
			height          : 45%;

			&-front {
				z-index : 1;
			}

			&-back {
				transform : rotateX(180deg);
			}

			&.turn {
				#rotary-template {
					&-front {
						z-index   : 0;
						transform : rotateX(-180deg);
					}

					&-back {
						transform : rotateX(0);
					}
				}
			}

			.rotary-template-container {
				position         : absolute;
				display          : flex;
				justify-content  : center;
				align-items      : center;
				height           : 100%;
				width            : 100%;
				transition       : all 1s;
				background-color : transparent !important;

				// card template styles
				.card-template {
					display         : flex;
					justify-content : center;
					align-items     : center;
					position        : relative;
					width           : 100%;

					&-img {
						max-height : 100%;
						max-width  : 100%;
					}

					&-marker {
						position   : absolute;
						background : transparent;

						&#marker-card-front {
							left   : 5%;
							right  : 81%;
							top    : 66%;
							bottom : 9%;
						}

						&#marker-card-back {
							left   : 84%;
							right  : 2%;
							top    : 72%;
							bottom : 3%;
						}
					}
				}
			}
		}
	}

	#forms {
		position   : absolute;
		top        : 0;
		left       : 0;
		margin     : auto;
		height     : 80%;
		z-index    : 1;
		transition : transform 3s cubic-bezier(0.190, 1.000, 0.220, 1.000);

		&-img {
			height    : 100%;
			max-width : 100%;
		}

		&-container {
			display         : flex;
			justify-content : center;
			align-items     : center;
			position        : absolute;
			bottom          : 0;
			top             : 0;
			right           : 0;
			left            : 0;
			margin          : auto;
			width           : 100%;
			height          : 100%;
			visibility      : hidden;
			opacity         : 0;

			&.display {
				animation : displayForm 1s linear 1s 1 forwards;
			}

			@keyframes displayForm {
				to {
					visibility : visible;
					opacity    : 1;
				}
			}

			#login, #register {
				display         : flex;
				flex-direction  : column;
				justify-content : space-between;
				align-items     : center;
				border-radius   : 1.6rem;
				padding         : .6rem;
				height          : 40%;
				width           : 80%;
				background      : rgb(25, 25, 26);

				.form {
					display         : flex;
					flex-direction  : column;
					justify-content : space-evenly;
					align-items     : center;
					border-radius   : 1.6rem;
					width           : 100%;
					height          : 95%;

					.inputs {
						display         : flex;
						flex-direction  : column;
						justify-content : space-evenly;
						align-items     : center;
						width           : 95%;
						height          : 100%;

						input[type='email'],
						input[type='password'] {
							color         : white;
							width         : 100%;
							padding       : .8rem;
							font-size     : 1.5rem;
							background    : rgb(34, 34, 34);
							outline       : 0;
							border        : 0;
							border-radius : .5rem;

							&[value=''] {
								text-align : center;
							}
						}
					}

					input[type='submit'] {
						color         : white;
						font-size     : 1.5rem;
						cursor        : pointer;
						outline       : 0;
						border        : 0;
						border-radius : .5rem;
						margin        : 1rem 0;
						padding       : .5rem;
						background    : $blue;
						width         : 90%;
					}
				}

				button {
					color      : $blue;
					font-size  : 1.5rem;
					cursor     : pointer;
					outline    : 0;
					border     : 0;
					background : transparent;
				}
			}
		}

		#notification {
			display         : flex;
			justify-content : center;
			align-items     : center;
			position        : absolute;
			direction       : rtl;
			font-size       : 1.3rem;
			top             : 15px;
			left            : 0;
			right           : 0;
			border-radius   : 2.5rem;
			opacity         : 0;
			margin          : auto;
			padding         : 8% 4% 4%;
			height          : 0;
			width           : 90%;
			background      : $black;
			z-index         : -1;
			transition      : opacity .6s .2s, height .8s;

			&.display {
				opacity : 1;
				height  : 14%;
			}

			button {
				display : none;
			}
		}
	}
}

main {
	display         : flex;
	justify-content : flex-start;
	overflow        : hidden;
	width           : 100%;
	min-height      : 100vh;
	background      : $greyDark;

	nav {
		display         : flex;
		justify-content : flex-end;
		position        : fixed;
		top             : 0;
		right           : 0;
		width           : 15vw;
		height          : 100vh;

		#nav-menu {
			display         : flex;
			flex-direction  : column;
			justify-content : center;
			align-items     : center;
			position        : relative;
			background      : $black;
			width           : 6.5vw;
			height          : 100%;
			transition      : width .6s cubic-bezier(0.165, 0.840, 0.440, 1.000);

			&.expand {
				width : 15vw;
			}

			.nav-item {
				display         : flex;
				justify-content : flex-end;
				align-items     : center;
				position        : relative;
				color           : $greyLight;
				overflow        : hidden;
				padding         : .8rem 1.5rem .8rem .5rem;
				height          : 10%;
				width           : 100%;
				transition      : color 1s;

				&:hover {
					color : $whiteDark
				}

				&.selected {
					color : $whiteDark;
				}

				.icon {
					display         : flex;
					justify-content : center;
					align-items     : center;
					width           : 4vw;
				}

				.text {
					display         : flex;
					justify-content : center;
					align-items     : center;
					position        : absolute;
					right           : 7vw;
					top             : 0;
					bottom          : 0;
					margin          : auto;
					align-self      : flex-end;
					direction       : rtl;
					font-size       : 2rem;
					font-weight     : bold;
					text-align      : right;
				}
			}
		}

		#expand {
			display         : flex;
			justify-content : center;
			align-items     : center;
			position        : absolute;
			top             : 5%;
			right           : 1.5rem;
			width           : 4vw;
			height          : 4vw;

			&-button {
				display         : flex;
				justify-content : center;
				align-items     : center;
				color           : $greyLight;
				cursor          : pointer;
				border          : .1rem solid $greyLight;
				border-radius   : .5rem;
				width           : 3vw;
				height          : 3vw;
				background      : $black;
				transition      : background-color .4s;

				&:hover {
					background : $grey;
				}

			}
		}
	}

	#content {
		width : 85%;

		#dashboard {
			display         : flex;
			justify-content : center;
			align-items     : center;
			width           : 100%;
			height          : 100%;

			#products {
				display         : flex;
				flex-direction  : row-reverse;
				justify-content : center;
				align-items     : center;
				flex-wrap       : wrap;
				width           : 100%;
				height          : 100%;

				.product-item, .add-product {
					display         : flex;
					flex-direction  : column;
					justify-content : center;
					align-items     : center;
					position        : relative;
					outline         : none;
					border-radius   : 1vw;
					margin          : 1vw;
					padding         : 2vw 0 1vw;
					width           : 16vw;
					border          : .2rem solid $grey;

					&:hover {
						.product-overlay {
							opacity : 1;

							a {
								opacity       : 1;
								margin-bottom : 1rem !important;
							}
						}
					}

					canvas, svg {
						color  : $greyLight;
						width  : 12vw !important;
						height : 12vw !important;
					}

					.product-name {
						color         : $whiteDark;
						font-size     : 2rem;
						text-align    : center;
						white-space   : nowrap;
						text-overflow : ellipsis;
						overflow      : hidden;
						margin-top    : 2vw;
						width         : 14vw;
						transition    : color .5s;
					}

					.product-overlay {
						display         : flex;
						flex-direction  : column;
						justify-content : center;
						align-items     : center;
						position        : absolute;
						top             : 0;
						opacity         : 0;
						border-radius   : 1vw;
						width           : 100%;
						height          : 100%;
						background      : rgba(25, 25, 26, .9);
						transition      : opacity .8s;

						a {
							color         : $whiteDark;
							font-size     : 1.6rem;
							font-weight   : bold;
							text-align    : center;
							opacity       : 0;
							border-radius : .5rem;
							margin        : 1rem 0;
							padding       : .5rem 0;
							width         : 80%;

							&:nth-of-type(1) {
								margin-bottom : -20rem;
								background    : $blue;
								transition    : background-color .5s, opacity .5s, margin-bottom .4s;

								&:hover {
									background : $blueDark;
								}
							}

							&:nth-of-type(2) {
								margin-bottom : -10rem;
								background    : $greyDark;
								transition    : background-color .5s, opacity .5s, margin-bottom .6s;

								&:hover {
									background : $greyDarker;
								}
							}

							&:nth-of-type(3) {
								margin-bottom : -10rem;
								background    : $red;
								transition    : background-color .5s, opacity .5s, margin-bottom .8s;

								&:hover {
									background : $redDark;
								}
							}

							&:nth-of-type(4) {
								margin-bottom : -10rem;
								background    : $green;
								transition    : background-color .5s, opacity .5s, margin-bottom 1s;

								&:hover {
									background : $greenDark;
								}
							}
						}
					}
				}

				.add-product {
					transition : background-color .6s, color .6s;

					&:hover {
						background-color : $greyDarker;

						p {
							color : $blue;
						}
					}
				}
			}
		}
	}
}

