* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
}

a {
  text-decoration: none;
}

#home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3E1D6D", endColorstr="#092756", GradientType=1);
}
#home #card-images-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  height: 100%;
  width: 100%;
}
#home #card-images-wrapper #rotary-template {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 45%;
}
#home #card-images-wrapper #rotary-template-front {
  z-index: 1;
}
#home #card-images-wrapper #rotary-template-back {
  transform: rotateX(180deg);
}
#home #card-images-wrapper #rotary-template.turn #rotary-template-front {
  z-index: 0;
  transform: rotateX(-180deg);
}
#home #card-images-wrapper #rotary-template.turn #rotary-template-back {
  transform: rotateX(0);
}
#home #card-images-wrapper #rotary-template .rotary-template-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 1s;
  background-color: transparent !important;
}
#home #card-images-wrapper #rotary-template .rotary-template-container .card-template {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
#home #card-images-wrapper #rotary-template .rotary-template-container .card-template-img {
  max-height: 100%;
  max-width: 100%;
}
#home #card-images-wrapper #rotary-template .rotary-template-container .card-template-marker {
  position: absolute;
  background: transparent;
}
#home #card-images-wrapper #rotary-template .rotary-template-container .card-template-marker#marker-card-front {
  left: 5%;
  right: 81%;
  top: 66%;
  bottom: 9%;
}
#home #card-images-wrapper #rotary-template .rotary-template-container .card-template-marker#marker-card-back {
  left: 84%;
  right: 2%;
  top: 72%;
  bottom: 3%;
}
#home #forms {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  height: 80%;
  z-index: 1;
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1);
}
#home #forms-img {
  height: 100%;
  max-width: 100%;
}
#home #forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
#home #forms-container.display {
  animation: displayForm 1s linear 1s 1 forwards;
}
@keyframes displayForm {
  to {
    visibility: visible;
    opacity: 1;
  }
}
#home #forms-container #login, #home #forms-container #register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.6rem;
  padding: 0.6rem;
  height: 40%;
  width: 80%;
  background: #19191a;
}
#home #forms-container #login .form, #home #forms-container #register .form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1.6rem;
  width: 100%;
  height: 95%;
}
#home #forms-container #login .form .inputs, #home #forms-container #register .form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 100%;
}
#home #forms-container #login .form .inputs input[type=email],
#home #forms-container #login .form .inputs input[type=password], #home #forms-container #register .form .inputs input[type=email],
#home #forms-container #register .form .inputs input[type=password] {
  color: white;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
  background: #222222;
  outline: 0;
  border: 0;
  border-radius: 0.5rem;
}
#home #forms-container #login .form .inputs input[type=email][value=""],
#home #forms-container #login .form .inputs input[type=password][value=""], #home #forms-container #register .form .inputs input[type=email][value=""],
#home #forms-container #register .form .inputs input[type=password][value=""] {
  text-align: center;
}
#home #forms-container #login .form input[type=submit], #home #forms-container #register .form input[type=submit] {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  background: #0184ff;
  width: 90%;
}
#home #forms-container #login button, #home #forms-container #register button {
  color: #0184ff;
  font-size: 1.5rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
}
#home #forms #notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  direction: rtl;
  font-size: 1.3rem;
  top: 15px;
  left: 0;
  right: 0;
  border-radius: 2.5rem;
  opacity: 0;
  margin: auto;
  padding: 8% 4% 4%;
  height: 0;
  width: 90%;
  background: #19191a;
  z-index: -1;
  transition: opacity 0.6s 0.2s, height 0.8s;
}
#home #forms #notification.display {
  opacity: 1;
  height: 14%;
}
#home #forms #notification button {
  display: none;
}

main {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background: #282828;
}
main nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 15vw;
  height: 100vh;
}
main nav #nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #19191a;
  width: 6.5vw;
  height: 100%;
  transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main nav #nav-menu.expand {
  width: 15vw;
}
main nav #nav-menu .nav-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  color: #888;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.8rem 1.5rem 0.8rem 0.5rem;
  height: 10%;
  width: 100%;
  background: transparent;
  transition: color 1s;
}
main nav #nav-menu .nav-item:hover {
  color: #ddd;
}
main nav #nav-menu .nav-item.selected {
  color: #ddd;
}
main nav #nav-menu .nav-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
}
main nav #nav-menu .nav-item .text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 7vw;
  top: 0;
  bottom: 0;
  margin: auto;
  align-self: flex-end;
  direction: rtl;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}
main nav #expand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 1.5rem;
  width: 4vw;
  height: 4vw;
}
main nav #expand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  cursor: pointer;
  border: 0.1rem solid #888;
  border-radius: 0.5rem;
  width: 3vw;
  height: 3vw;
  background: #19191a;
  transition: background-color 0.4s;
}
main nav #expand-button:hover {
  background: #333;
}
main #content {
  width: 85%;
}
main #content #dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
main #content #dashboard #products {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
main #content #dashboard #products .product-item, main #content #dashboard #products .add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  border-radius: 1vw;
  margin: 1vw;
  padding: 2vw 0 1vw;
  width: 16vw;
  border: 0.2rem solid #333;
}
main #content #dashboard #products .product-item:hover .product-overlay, main #content #dashboard #products .add-product:hover .product-overlay {
  opacity: 1;
}
main #content #dashboard #products .product-item:hover .product-overlay a, main #content #dashboard #products .add-product:hover .product-overlay a {
  opacity: 1;
  margin-bottom: 1rem !important;
}
main #content #dashboard #products .product-item canvas, main #content #dashboard #products .product-item svg, main #content #dashboard #products .add-product canvas, main #content #dashboard #products .add-product svg {
  color: #888;
  width: 12vw !important;
  height: 12vw !important;
}
main #content #dashboard #products .product-item .product-name, main #content #dashboard #products .add-product .product-name {
  color: #ddd;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 2vw;
  width: 14vw;
  transition: color 0.5s;
}
main #content #dashboard #products .product-item .product-overlay, main #content #dashboard #products .add-product .product-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 1vw;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 26, 0.9);
  transition: opacity 0.8s;
}
main #content #dashboard #products .product-item .product-overlay a, main #content #dashboard #products .add-product .product-overlay a {
  color: #ddd;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 80%;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(1), main #content #dashboard #products .add-product .product-overlay a:nth-of-type(1) {
  margin-bottom: -20rem;
  background: #0184ff;
  transition: background-color 0.5s, opacity 0.5s, margin-bottom 0.4s;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(1):hover, main #content #dashboard #products .add-product .product-overlay a:nth-of-type(1):hover {
  background: #0069d9;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(2), main #content #dashboard #products .add-product .product-overlay a:nth-of-type(2) {
  margin-bottom: -10rem;
  background: #282828;
  transition: background-color 0.5s, opacity 0.5s, margin-bottom 0.6s;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(2):hover, main #content #dashboard #products .add-product .product-overlay a:nth-of-type(2):hover {
  background: #222;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(3), main #content #dashboard #products .add-product .product-overlay a:nth-of-type(3) {
  margin-bottom: -10rem;
  background: #dc3545;
  transition: background-color 0.5s, opacity 0.5s, margin-bottom 0.8s;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(3):hover, main #content #dashboard #products .add-product .product-overlay a:nth-of-type(3):hover {
  background: #c82333;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(4), main #content #dashboard #products .add-product .product-overlay a:nth-of-type(4) {
  margin-bottom: -10rem;
  background: #28a745;
  transition: background-color 0.5s, opacity 0.5s, margin-bottom 1s;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(4):hover, main #content #dashboard #products .add-product .product-overlay a:nth-of-type(4):hover {
  background: #218838;
}
main #content #dashboard #products .add-product {
  transition: background-color 0.6s, color 0.6s;
}
main #content #dashboard #products .add-product:hover {
  background-color: #222;
}
main #content #dashboard #products .add-product:hover p {
  color: #0184ff;
}
main #content #product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main #content #product #form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
}
main #content #product #form .header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
main #content #product #form .header h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  width: 90%;
  background: linear-gradient(to right, transparent, #19191a, transparent);
}
main #content #product #form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 85%;
}
main #content #product #form form .text-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  width: 60%;
}
main #content #product #form form .text-input input, main #content #product #form form .text-input textarea {
  direction: rtl;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  background-color: transparent;
}
main #content #product #form form .text-input input:focus + .text-input-marker div, main #content #product #form form .text-input input:valid + .text-input-marker div, main #content #product #form form .text-input textarea:focus + .text-input-marker div, main #content #product #form form .text-input textarea:valid + .text-input-marker div {
  width: 100%;
}
main #content #product #form form .text-input input::-webkit-scrollbar, main #content #product #form form .text-input textarea::-webkit-scrollbar {
  display: none;
}
main #content #product #form form .text-input-marker {
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
  width: 100%;
  height: 0.3rem;
  background-color: #19191a;
}
main #content #product #form form .text-input-marker div {
  width: 0;
  height: 100%;
  background-color: #0184ff;
  transition: width 0.4s;
}
main #content #product #form form #product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20rem;
}
main #content #product #form form #product-content-header {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-right: 2rem;
  width: fit-content;
  height: 20%;
  background-color: #19191a;
  transform: skewX(-30deg);
}
main #content #product #form form #product-content-header-marker {
  position: absolute;
  right: 0;
  width: 10rem;
  height: 100%;
  background-color: #0184ff;
  transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main #content #product #form form #product-content-header .header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  outline: none;
  border: none;
  width: 10rem;
  height: 100%;
  background: transparent;
  transition: background-color 0.5s;
}
main #content #product #form form #product-content-header .header-item:hover {
  background: #282828;
}
main #content #product #form form #product-content-header .header-item p {
  color: #ddd;
  transform: skewX(30deg);
}
main #content #product #form form #product-content-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: calc(100% - 6.5rem);
  height: 80%;
  background-color: #333;
}
main #content #product #form form #product-content-input input[type=file] {
  display: none;
}
main #content #product #form form #product-content-input .text-input {
  width: 100%;
}
main #content #product #form form #product-content-input .text-input textarea {
  color: #ddd;
  font-size: 1.6rem;
  width: 100%;
}
main #content #product #form form #product-content-input button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  font-size: 4.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: black;
  width: 8rem;
  height: 8rem;
  background: #282828;
  transition: background-color 0.5s, color 0.5s;
}
main #content #product #form form #product-content-input button:hover {
  color: #0184ff;
  background: #222;
}
main #content #product #form form input[type=submit] {
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 5rem;
  background: #0184ff;
  transition: background-color 0.5s;
}
main #content #product #form form input[type=submit]:hover {
  background: #0069d9;
}
main #content #product #preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}
main #content #product #preview-container {
  position: relative;
}
main #content #product #preview-container #content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 60%;
}
main #content #product #preview-container #content #text {
  overflow-y: scroll;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  max-height: 100%;
  background: #19191a;
}
main #content #product #preview-container #content #text::-webkit-scrollbar {
  display: none;
}
main #content #product #preview-container #content #text p {
  direction: rtl;
  color: #ddd;
  font-size: 1.5rem;
  text-align: center;
}
main #content #product #preview-container #content img, main #content #product #preview-container #content video {
  max-width: 100%;
  max-height: 100%;
}
main #content #product #preview-container #content svg {
  color: #ddd;
  font-size: 10rem;
}
main #content #product #preview-container #detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 15%;
}
main #content #product #preview-container #detail p {
  text-align: center;
  overflow: hidden;
  padding: 2% 0;
  width: 100%;
}
main #content #product #preview-container #detail p:first-of-type {
  font-size: 2rem;
  height: 38%;
}
main #content #product #preview-container #detail p:last-of-type {
  font-size: 1.2rem;
  margin-bottom: 5%;
  height: 40%;
}

/*# sourceMappingURL=style.css.map */
