* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
}

a {
  text-decoration: none;
}

#notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  direction: rtl;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  opacity: 0;
  margin: auto;
  padding: 0 4rem;
  height: 0;
  width: 100%;
  background: #19191a;
  z-index: 99;
  transition: opacity 0.6s 0.2s, height 0.8s;
}
#notification.display {
  opacity: 1;
  height: 6%;
}
#notification p {
  font-size: 1.8rem;
  font-weight: 700;
}
#notification button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background: #444;
}

#home {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3E1D6D", endColorstr="#092756", GradientType=1);
}
#home #header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 6vh;
  height: 10vh;
}
#home #container {
  display: flex;
  margin-left: -100vw;
  margin-top: 4vh;
  width: 300vw;
  height: 80vh;
  transition: margin-left 1s;
}
#home #container.no-margin {
  margin-left: 0;
}
#home #container #login, #home #container #register {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100vw;
}
#home #container #login form, #home #container #register form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85%;
  width: 100%;
}
#home #container #login form .inputs, #home #container #register form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  height: 50%;
  width: 100%;
}
#home #container #login form .inputs input[type=email],
#home #container #login form .inputs input[type=password], #home #container #register form .inputs input[type=email],
#home #container #register form .inputs input[type=password] {
  color: #fff;
  font-size: 2rem;
  outline: 0;
  border: 0;
  border-radius: 1.5rem;
  margin: 1rem 0;
  padding: 1.5rem;
  width: 100%;
  background: #222222;
}
#home #container #login form .inputs input[type=email][value=""],
#home #container #login form .inputs input[type=password][value=""], #home #container #register form .inputs input[type=email][value=""],
#home #container #register form .inputs input[type=password][value=""] {
  text-align: center;
}
#home #container #login form input[type=submit], #home #container #register form input[type=submit] {
  color: #0184ff;
  font-size: 2.4rem;
  font-weight: bold;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
  background: #333;
}
#home #container #login button, #home #container #register button {
  position: absolute;
  bottom: 2rem;
  color: #0184ff;
  font-size: 1.6rem;
  font-weight: bold;
  overflow: hidden;
  outline: none;
  border: none;
  max-width: 40%;
  background: transparent;
}
#home #container #login button::before {
  content: "<";
  margin: 0 0.6rem;
}
#home #container #register button::after {
  content: ">";
  margin: 0 0.6rem;
}
#home #container #introduction {
  width: 100vw;
  transition: opacity 0.5s, width 1s;
}
#home #container #introduction.hide {
  opacity: 0;
  width: 0;
}
#home #container #introduction.hide #introduction-container {
  width: 0;
}
#home #container #introduction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  transition: width 0s 1s;
}
#home #container #introduction-container #text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  width: 100%;
  height: 90%;
  z-index: 2;
}
#home #container #introduction-container #text p {
  font-size: 2.4rem;
  text-align: center;
}
#home #container #introduction-container #navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.6rem;
  width: 80%;
  height: 6%;
  background: #333;
}
#home #container #introduction-container #navigation button {
  direction: rtl;
  font-size: 2rem;
  font-weight: bold;
  color: #0184ff;
  border: none;
  outline: none;
  margin: 1.6rem 0.8rem;
  background: transparent;
}
#home #container #introduction-container #navigation button span {
  margin: 0 0.3rem;
}

main {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background: #282828;
}
main nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
  width: 26vw;
  height: 100vh;
}
main nav #nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: fill;
  overflow: hidden;
  width: 0;
  height: 100%;
  background: #19191a;
  transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main nav #nav-menu.expand {
  width: 100%;
}
main nav #nav-menu .nav-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #888;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 1.5rem 0;
  width: 100%;
  background: transparent;
}
main nav #nav-menu .nav-item.selected {
  color: #ddd;
}
main nav #nav-menu .nav-item .text {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.8rem;
}
main nav #nav-menu .nav-item .icon {
  font-size: 1.2rem;
}
main nav #expand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  pointer-events: fill;
  color: #888;
  border: 0.1rem solid #888;
  border-radius: 0.5rem;
  margin: auto;
  width: 12vw;
  height: 12vw;
}
main #content {
  width: 100%;
  height: 100%;
}
main #content #dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
main #content #dashboard #products {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
main #content #dashboard #products .add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  left: 7vw;
  color: #888;
  border: 0.1rem solid #888;
  border-radius: 0.5rem;
  margin: auto;
  padding: 0;
  width: 12vw;
  height: 12vw;
  background: #282828;
  z-index: 1;
}
main #content #dashboard #products .add-product svg {
  color: #888;
  width: 90%;
  height: 90%;
}
main #content #dashboard #products .add-product p {
  display: none;
}
main #content #dashboard #products .product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  border-radius: 1vw;
  margin: 4vw;
  padding: 4vw 0 2vw;
  width: 60vw;
  border: 0.2rem solid #333;
}
main #content #dashboard #products .product-item.selected .product-overlay {
  opacity: 1;
}
main #content #dashboard #products .product-item.selected .product-overlay a {
  opacity: 1;
  margin-bottom: 1rem !important;
}
main #content #dashboard #products .product-item canvas {
  color: #888;
  width: 50vw !important;
  height: 50vw !important;
}
main #content #dashboard #products .product-item .product-name {
  color: #ddd;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 2vw;
  width: 50vw;
}
main #content #dashboard #products .product-item .product-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 1vw;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 26, 0.9);
  transition: opacity 0.8s;
}
main #content #dashboard #products .product-item .product-overlay a {
  color: #ddd;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 60%;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(1) {
  margin-bottom: -20rem;
  background: #0184ff;
  transition: background-color 0.5s, opacity 0.5s, margin-bottom 0.4s;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(1):hover {
  background: #0069d9;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(2) {
  margin-bottom: -10rem;
  background: #282828;
  transition: background-color 0.5s, opacity 0.5s, margin-bottom 0.6s;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(2):hover {
  background: #222;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(3) {
  margin-bottom: -10rem;
  background: #dc3545;
  transition: background-color 0.5s, opacity 0.5s, margin-bottom 0.8s;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(3):hover {
  background: #c82333;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(4) {
  margin-bottom: -10rem;
  background: #28a745;
  transition: background-color 0.5s, opacity 0.5s, margin-bottom 1s;
}
main #content #dashboard #products .product-item .product-overlay a:nth-of-type(4):hover {
  background: #218838;
}
main #content #product {
  width: 100vw;
  height: 100vh;
}
main #content #product #preview {
  display: none;
}
main #content #product #form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
main #content #product #form .header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
main #content #product #form .header h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  width: 90%;
  background: linear-gradient(to right, transparent, #19191a, transparent);
}
main #content #product #form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}
main #content #product #form form .text-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  width: 60%;
}
main #content #product #form form .text-input input, main #content #product #form form .text-input textarea {
  direction: rtl;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  background-color: transparent;
}
main #content #product #form form .text-input input:focus + .text-input-marker div, main #content #product #form form .text-input input:valid + .text-input-marker div, main #content #product #form form .text-input textarea:focus + .text-input-marker div, main #content #product #form form .text-input textarea:valid + .text-input-marker div {
  width: 100%;
}
main #content #product #form form .text-input input::-webkit-scrollbar, main #content #product #form form .text-input textarea::-webkit-scrollbar {
  display: none;
}
main #content #product #form form .text-input-marker {
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
  width: 100%;
  height: 0.3rem;
  background-color: #19191a;
}
main #content #product #form form .text-input-marker div {
  width: 0;
  height: 100%;
  background-color: #0184ff;
  transition: width 0.4s;
}
main #content #product #form form #product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 30%;
}
main #content #product #form form #product-content-header {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-right: 2rem;
  width: fit-content;
  height: 20%;
  background-color: #19191a;
  transform: skewX(-30deg);
}
main #content #product #form form #product-content-header-marker {
  position: absolute;
  right: 0;
  width: 10rem;
  height: 100%;
  background-color: #0184ff;
  transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main #content #product #form form #product-content-header .header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  outline: none;
  border: none;
  width: 10rem;
  height: 100%;
  background: transparent;
  transition: background-color 0.5s;
}
main #content #product #form form #product-content-header .header-item:hover {
  background: #282828;
}
main #content #product #form form #product-content-header .header-item p {
  color: #ddd;
  transform: skewX(30deg);
}
main #content #product #form form #product-content-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: calc(100% - 6.5rem);
  height: 80%;
  background-color: #333;
}
main #content #product #form form #product-content-input input[type=file] {
  display: none;
}
main #content #product #form form #product-content-input .text-input {
  width: 100%;
}
main #content #product #form form #product-content-input .text-input textarea {
  color: #ddd;
  font-size: 1.6rem;
  width: 100%;
}
main #content #product #form form #product-content-input button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  font-size: 4.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: black;
  width: 8rem;
  height: 8rem;
  background: #282828;
  transition: background-color 0.5s, color 0.5s;
}
main #content #product #form form #product-content-input button:hover {
  color: #0184ff;
  background: #222;
}
main #content #product #form form input[type=submit] {
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 5rem;
  background: #0184ff;
  transition: background-color 0.5s;
}
main #content #product #form form input[type=submit]:hover {
  background: #0069d9;
}

/*# sourceMappingURL=style.mobile.css.map */
