.modal {
	display          : flex;
	justify-content  : center;
	align-items      : center;
	position         : fixed;
	top              : 0;
	left             : 0;
	width            : 100vw;
	height           : 100vh;
	background-color : #000000bb;
	animation        : fade-in both .5s;
	z-index          : 10;

	&__container {
		display         : flex;
		justify-content : center;
		align-items     : center;
	}
}

@keyframes fade-in {
	0% {
		opacity : 0;
	}
	100% {
		opacity : 1;
	}
}